.container-frameworks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 1rem;
    background-color: rgb(54, 211, 195);
}
.img-frame{
    border: 1px solid blue;
    border-radius: 15px;
    height: 150px;
    width: 300px;
}
@media only screen and (max-width:500px) {
    .container-frameworks{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}