.container-courses{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 1rem;
    background-color: aquamarine;
}
.course-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ant-card-meta-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
@media only screen and (max-width:500px) {
    .container-courses{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .course-card-title{
        font-size: 1rem;
    }
}
