.exp-container {
  display: flex;
  justify-content: center;
  /*     align-items: center; */
  gap: 1rem;
  background-color: aqua;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-exp {
    text-align: center;
    background: aqua;
    padding-bottom: 20px;
    padding-top: 15px;
}
.header-exp h1,
h2 {
  margin: 0;
}

.card-exp {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: blanchedalmond;
  width: 450px;
  /*     height: 440px; */
  gap: 2px;
  border-radius: 15px 15px 0 0;
}
.certificate {
  color: gold;
}
.btn-api {
  width: 300px;
}
.languaje-card {
  font-weight: bold;
}
.ant-card-exp {
  width: 450px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.img-card-exp {
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
}
a {
  color: black;
}
@media only screen and (max-width:460px) {
  .card-exp{
    width: 370px;
  }
}